<!DOCTYPE html>
<html lang="{{ app.request.locale|split('_')|first|default('en') }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="robots" content="noindex, nofollow, noarchive, nosnippet, noodp, noimageindex, notranslate, nocache" />
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <meta name="generator" content="EasyAdmin" />

    <title>{% block page_title %}{{ block('content_title')|striptags|raw }}{% endblock %}</title>

    {% block head_stylesheets %}
        <link rel="stylesheet" href="{{ asset('bundles/bootstrap/css/bootstrap.css') }}">
    {% endblock %}

</head>

{% block body %}
    {% block navbar %}
        {% include '::navbar.html.twig' %}
    {% endblock navbar %}

    {% block container %}
        <div id="main" class="container-fluid">
            <div class="row">
                {% block sidebar %}
                    {% include '::sidebar.html.twig' %}
                {% endblock sidebar %}

                <div id="content" class="col-xs-12 col-sm-10">

                    <div id="ajax-content">
                        {% block content %}

                        {% endblock content %}
                    </div>
                </div>
            </div>
        </div>
    {% endblock container %}

    {% block footer %}
    {% endblock footer %}

    {% block foot_script %}
        {% javascripts'@StageUserBundle/Resources/public/js/jquery-2.1.0.min.js'
        '@StageUserBundle/Resources/public/js/jquery-ui.min.js'
        '@StageUserBundle/Resources/public/js/bootstrap.min.js'
        '@StageUserBundle/Resources/public/js/function.js'
        '@StageUserBundle/Resources/public/js/raphael-min.js'
        '@StageUserBundle/Resources/public/js/select2.min.js'
        '@StageUserBundle/Resources/public/js/jquery.dataTables.js'
        '@StageUserBundle/Resources/public/js/ZeroClipboard.js'
        '@StageUserBundle/Resources/public/js/TableTools.js'
        '@StageUserBundle/Resources/public/js/dataTables.bootstrap.js'
        '@StageUserBundle/Resources/public/js/function.js'
        %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
        <script src="{{ asset('bundles/bootstrap/js/bootstrap.bundle.js') }}"></script>

        {% endjavascripts %}

    {% endblock foot_script %}
{% endblock body %}
</html>